/*  your css code here. If applicable */
table{
	background:yellow;
	border: 2px solid black;
	width:350px;
	height:150px;
}
th,td{
	border:2px solid black;
	font-size:30px;
	font-weight:bold
}
caption{
	font-weight:bold;
	font-size:35px;
	
}